.cardIntegration-container {

  width: 35%;
  display: flex;
  justify-content: space-between;
  background: transparent;
  position: absolute;

  .cardIntegration-left {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    background-color: black;
    border-radius: 10px;
    color: white;
    font-size: 50px;
    font-weight: 800;
  }

  .cardIntegration-right {
    width: 90%;
    color: black;
    background: transparent;
    font-size: 20px;
  }
}
