@import "~@fortawesome/fontawesome-free/css/all.min.css";

.apropos-container {
  width: 100;

  .apropos-top {
    height: 60vw;
    width: 100%;
    background-image: url("https://res.cloudinary.com/dt04wtcwf/image/upload/v1727984569/LightKitch/img3-1-scaled_qn0ydv.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;

      .apropos-title {
        position: relative;
        top: 0;
        height: 21vw;
        width: 100%;
        background: linear-gradient(to right, #2f2f2f, #050505);
        color: white;
        padding-top: 160px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
          font-size: 46px;
          font-weight: 500;
        }

        p {
          font-size: 18px;
          padding-top: 5px;
        }
      }

      .apropos-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 20vw;
        position: relative;
        bottom: -300px;
        left: 0;
        background: linear-gradient(to right, rgb(255, 186, 0), rgb(255, 170, 0));

        p {
          width: 80%;
          margin: 0 auto;
          margin-bottom: 20px;
          font-size: 18px;
          font-weight: 500;
        }
      }

      .apropos-button {
        .appointement {

          position: relative;
          top: -10vw;
          left: 42.5%;
          padding: 10px 15px;
          background-color: rgb(255, 186, 0);
          text-decoration: none;
          color: black;
          font-size: 26px;
          border-radius: 30px;

          &:hover {
            background-color: rgb(255, 170, 0);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.6);
          }
        }
      }
    }

  .apropos-marquee {
    .marqueeComponent-container {
      margin-top: 0;
    }

  }

  .business-guidance {

    display: flex;

    .guidance-left{
      margin: 100px;
      width: 60%;

      .paragraphes  {
        padding-top: 20px;
        padding-bottom: 20px;
        position: relative;
        padding-left: 25px;
        margin-left: 20px;
        border-left: 4px solid black;

      }

      .paragraphes * {
        padding: 15px 20px;
        font-size: 18px;
        position: relative;

        &::before {
          content: "\f111";
          font-family: "Font Awesome 6 Free";
          font-weight: 900;
          position: absolute;
          top: 30%;
          left: -40px;
          display: block;
          color: black;
          font-size: 26px;
        }
       }

    }

    .guidance-right {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40%;
      margin-bottom: 50px;

      .image-container {
        position: relative;
        display: inline-block;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 70%;
          height: 97.5%;
          transform: translate(50px, 50px);
          z-index: -1;
          background-color:#ffa996;
        }

        img {
          background-color: white;
          border-radius: 30px;
          width: 250px;
          display: block;
          position: relative;
          margin-left: 100px;
          margin-right: 50px;
        }
      }
    }
  }

  .personnal-message {
    width: 90%;
    display: flex;
    margin-bottom: 50px;
    .personnal-left {
      display: flex;
      justify-content: end;
      padding: 10px 30px 10px 10px;
      width: 50%;

      img {
        height: 300px;
        max-width: 500px;
      }

    }

    .personnal-right {
      padding: 10px 10px 10px 30px;
      width: 50%;

    }
  }
}
