.blog-content {

  .blog-container {
    width: 90%;
    margin: 0 auto;
    height: 100%;

    .blog-title {

      h1 {
        padding-top: 140px;
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 20px;
      }
      p {
        font-size: 20px;
        margin-bottom: 30px;
      }
    }
    .blog-articleMini-container{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      padding-bottom: 50px;

    }
  }
}
