.faq-container {
  position: relative;
  width: 100%;
  z-index: 5;

  .faq-content {
    position: relative;
    width: 90%;
    margin: 0 auto;
  }
}

.marquee-container {
  padding-top: 30px;
}

.deliveryPlatforms-container {
  margin-top: 100px;
  width: 100%;
}

.join-container {
  width: 100%;
  position: relative;
}
